.section-banner {
    height: 95vh;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner-img {
    width: 50%;
    height: 100%;
    background-image: url("../../assets/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.img-white {
    background-color: var(--white-banner);
}

.img-dark {
    background-color: var(--dark-header-footer-banner);
}

.section-banner div {
    width: 50%;
    padding: 0 20px;
}

.banner-info {
    background-color: var(--white-banner);
    color: var(--dark-blue);
}

.banner-info h2 {
    font-size: 50px;
    font-weight: 500;
}

.banner-info p {
    font-size: 12px;
    letter-spacing: 5px;
    font-weight: 500;
}

.banner-info span {
    font-size: 50px;
    font-weight: 900;
}

@media screen and (max-width: 768px) {
    #banner-img{
        width: 0px;
        height: 0px;
    }

    .section-banner .banner-info{
        width: 100%;
    }
}