:root{
  --yellow: #feb633;
  --dark-blue: #022144;

  --border-button: #747272;
  
  --white-banner: #fafbfc;
  --white-header-footer: #fff;
  --dark-header-footer-banner: #252525;
  
  --light-gray-text: #cccccc;
  --dark-gray-text: #32333c;
  
  --white-work: #f6f8fc;
  --dark-work: #393838;
  
  --cards-text-gray-light: #8a8fa3;
  --cards-text-gray-dark: #9f9f9f;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.max-width{
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}